spring:
  application:
    name: e-shop

  datasource:
    url: jdbc:h2:mem:eshopdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

app:
  cache:
    products:
      ttl-minutes: 30
  pagination:
    default-page-size: 20
    max-page-size: 100

logging:
  level:
    io.github.alisa_salimianova.eshop: DEBUG
    org.springframework.web: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method